.selected-categories {
  color: #0989ff;
}

.selected-categories span {
  background-color: #0989ff;
  border-color: #0989ff;
  color: #ffff;
}

.tp-shop-widget-checkbox-selected {
  background-color: #0989ff;
  border-color: #0989ff;
  color: #ffff;
}
